@model IEnumerable<LoanManagementSystem.Models.LoanApproval>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ApprovalId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NoOfInstallments)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.InstallmentsAmount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ApprovedDate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ApprovalId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NoOfInstallments)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.InstallmentsAmount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ApprovedDate)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new {id=item.ApprovalId }) |
            @Html.ActionLink("Details", "Details", new { id=item.ApprovalId}) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ApprovalId })
        </td>
    </tr>
}

</table>
